{% extends 'main/layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam architecto asperiores atque autem corporis dignissimos eos eum inventore ipsa ipsum minima, molestiae numquam officia quas quia reiciendis sed suscipit.</p>
        <button class="btn btn-warning">На страницу про нас</button>
        {% for el in values %}
            {% if el == 'Hello' %}
                    <p>{{ el }}</p>
            {% endif %}
        {% endfor %}
        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
{% endblock %}